@import url("reset.css");

html, body{height:100%; width:100%; }
img{vertical-align: top;   }
strong{font-weight:900;}
em{font-style:italic;}
td{vertical-align:top;}
.clear{float:none; clear:both;}
p{margin-top:15px;}
p:first-child{margin-top:0px;}

.table{display:table}
.tr{display:table-row}
.td{display:table-cell}

input, textarea{
	color: #666;
	font-family: "Gotham", "Noto Sans TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
	}

body{
	color: #666;
	font-family: "Gotham", "Noto Sans TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
	}

a{
	color: #666;
	}

.noscroll{
	overflow:hidden;
	}


.loading{
	position:fixed;
	width:100%;
	height:100%;
	left:0px;
	top:0px;
	background-color:#FFF;
	z-index:1001;
	opacity: 1;
	}

.loading img{
	width:20px;
	height:20px;
	position:absolute;
	top:0px;
	right:0px;
	bottom:0px;
	left:0px;
	margin:auto;}



.scrollin{

	-webkit-transition: transform 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0s,  opacity 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    transition: transform 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0s,  opacity 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0s;
	}

.scrollin1{
	-ms-transform: translateY(100px) translateX(0px) translateZ(0px) scale(1); /* IE 9 */
    -webkit-transform: translateY(100px) translateX(0px) translateZ(0px) scale(1); /* Safari */
    transform: translateY(100px) translateX(0px) translateZ(0px) scale(1);
	opacity:0;
	}

.scrollin1.startani{
	-ms-transform: translateY(0px) translateX(0px) translateZ(0px) scale(1); /* IE 9 */
    -webkit-transform: translateY(0px) translateX(0px) translateZ(0px) scale(1); /* Safari */
    transform: translateY(0px) translateX(0px) translateZ(0px) scale(1);
	opacity:1;
	}

.scrollin2{
	-ms-transform: translateY(50px) translateX(0px) translateZ(0px) scale(1); /* IE 9 */
    -webkit-transform: translateY(50px) translateX(0px) translateZ(0px) scale(1); /* Safari */
    transform: translateY(50px) translateX(0px) translateZ(0px) scale(1);
	opacity:0;
	}

.scrollin2.startani{
	-ms-transform: translateY(0px) translateX(0px) translateZ(0px) scale(1); /* IE 9 */
    -webkit-transform: translateY(0px) translateX(0px) translateZ(0px) scale(1); /* Safari */
    transform: translateY(0px) translateX(0px) translateZ(0px) scale(1);
	opacity:1;
	}


.scrollin3{
	opacity:0;
	}

.scrollin3.onscreen{
	opacity:1;
	}


.top_banner_section .scrollin2{
	-ms-transform: translateY(50px) translateX(0px) translateZ(0px) scale(1); /* IE 9 */
    -webkit-transform: translateY(50px) translateX(0px) translateZ(0px) scale(1); /* Safari */
    transform: translateY(50px) translateX(0px) translateZ(0px) scale(1);
	opacity:0;
	}

.loadfinish .scrollin2.startani{
	-ms-transform: translateY(0px) translateX(0px) translateZ(0px) scale(1); /* IE 9 */
    -webkit-transform: translateY(0px) translateX(0px) translateZ(0px) scale(1); /* Safari */
    transform: translateY(0px) translateX(0px) translateZ(0px) scale(1);
	opacity:1;
	}


.top_banner_section .dot_bg.scrollin_left{
	-webkit-transition: width 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0s,  opacity 0.9s ease 0s;
    transition: width 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0s,  opacity 0.9s ease 0s;
	position: absolute;
	width:0%;
	left:0%;
	background-position: left bottom;
}
.top_banner_section .dot_bg.scrollin_right{
	-webkit-transition: width 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0s,  opacity 0.9s ease 0s;
    transition: width 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0s,  opacity 0.9s ease 0s;
	position: absolute;
	width:0%;
	right:0%;
	background-position: right bottom;
}

.loadfinish .dot_bg.scrollin_left.startani, .loadfinish .dot_bg.scrollin_right.startani{
	width:100%;
}

.top_banner_section .bg1{
	-webkit-transition: width 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0s,  opacity 0.9s ease 0s;
    transition: width 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0s,  opacity 0.9s ease 0s;
	width:100% !important;
	opacity:0;
}

.loadfinish .bg1{
	width:50% !important;
	opacity:1;
}

.top_banner_slider_container{
	position: absolute;
	width:100%;
	height:100%;
}

/* header */

.header_bg{

}

.header .bg{
	-webkit-transition: all 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    transition: all 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    position: fixed;
	height:120px;
	left:0px;
	top:0px;
	width:100%;
	z-index: 997;
	-webkit-box-shadow: 0px -18px 22px 25px rgba(0,0,0,0);
	-moz-box-shadow: 0px -18px 22px 25px rgba(0,0,0,0);
	box-shadow: 0px -18px 22px 25px rgba(0,0,0,0);
}

.nottop .header .bg{
	background-color: #25408f;
	height:50px;
	-webkit-box-shadow: 0px -18px 22px 25px rgba(0,0,0,0.31);
	-moz-box-shadow: 0px -18px 22px 25px rgba(0,0,0,0.31);
	box-shadow: 0px -18px 22px 25px rgba(0,0,0,0.31);
}

.nottop .header .bg.header_bg_w{
	background-color: #fff;
}

.top_logo{
	-webkit-transition: all 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    transition: all 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    position: fixed;
	height:40px;
	left:50px;
	top:40px;
	z-index: 997;
	overflow: hidden;
}

.nottop .top_logo{
	height:15px;
	top:20px;
}

.top_logo img{
	-webkit-transition: all 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    transition: all 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0s;
	height:40px;
}
.nottop .top_logo img{
	height:30px;
}

.email_btn{
    -webkit-transition: all 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    transition: all 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    transition-delay: 0s;
    height: 25px;
    width: 25px;
    position: fixed;
    right: 100px;
    top: 40px;
    z-index: 999;
	background-image: url(images/email.png);
	background-size: 100% 100%;
}

.nottop .email_btn {
    top: 12px;
}

.menu_btn{
	-webkit-transition: all 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    transition: all 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0s;
	height:25px;
	width:25px;
    position: fixed;
	right:50px;
	top:40px;
	z-index: 999;
	}

.nottop .menu_btn {
    top: 12px;
}

.menu_btn .line{
	position:absolute;
	width:100%;
	border-top:2px solid #fff;
	-webkit-transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
	}

.blue_menu_btn .line{
	border-top:2px solid #25408f;
}

.opencasemenu .blue_menu_btn .line{
	border-top:2px solid #fff;
}

.menu_btn .line1{
	top:20%;
    margin-top: -1px;
}

.menu_btn .line2{
	top:50%;
    margin-top: -1px;}

.menu_btn .line3{
	top:80%;
    margin-top: -1px;}

.menu_btn.close .line{
	border-top:2px solid #fff;
	}

.menu_btn.close .line1{
	top:50%;
	-webkit-transform: rotate(45deg);
    transform: rotate(45deg);
	}

.menu_btn.close .line2{
	top:50%;
	-webkit-transform: rotate(45deg);
    transform: rotate(45deg);
	}

.menu_btn.close .line3{
	top:50%;
	-webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
	}

.dropdown_menu{
	-webkit-transition: all 1.2s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 1.2s cubic-bezier(0.86, 0, 0.07, 1);
    position: fixed;
    top:0%;
    right:-100%;
	bottom:0%;
    background-color: #25408f;
    z-index: 998;
    overflow: auto;
    padding: 50px;
	padding-top: 150px;
	padding-bottom: 100px;
	-webkit-box-shadow: 0px -9px 29px 20px rgba(0,0,0,0.17);
	-moz-box-shadow: 0px -9px 29px 20px rgba(0,0,0,0.17);
	box-shadow: 0px -9px 29px 20px rgba(0,0,0,0.17);
}

.openmenu .dropdown_menu{
    right:0%;
}

.close_case_dropdown_menu{
	position: absolute;
	right:50px;
	bottom:45px;
	border-top:1px solid #fff;
	border-right:1px solid #fff;
	-webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
	width:35px;
	height:35px;
}

.case_dropdown_menu{
    position: fixed;
    left:0%;
    top:0%;
    right:0%;
    background-color: #25408f;
    z-index: 998;
    overflow: auto;
    padding: 50px;
	padding-top: 150px;
	padding-bottom: 100px;
	display: none;
	-webkit-box-shadow: 0px -9px 29px 20px rgba(0,0,0,0.17);
	-moz-box-shadow: 0px -9px 29px 20px rgba(0,0,0,0.17);
	box-shadow: 0px -9px 29px 20px rgba(0,0,0,0.17);
}

.dropdown_menu .top_logo, .case_dropdown_menu .top_logo{
    position: absolute;
}

.dropdown_menu a, .case_dropdown_menu a{
    color: #fff;
}

.dropdown_menu li+li{
    margin-top: 20px;
}


.dropdown_menu ul ul{
	margin-top: 50px;
	padding-top: 50px;
	border-top:1px solid #fff;
}

.dropdown_menu ul ul li+li{
    margin-top: 5px;
}

.case_dropdown_menu li+li{
    margin-top: 40px;
}

.dropdown_menu li, .case_dropdown_menu li{
	font-weight: 100;
}

.dropdown_menu .title, .case_dropdown_menu .title{
	text-transform: uppercase;
}

/* home */

.top_banner_section{
	position: relative;
}

.top_banner_section .bg_photo{
	position: absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background-position: center center;
	background-size:cover;
}

.top_banner_section .bg1{
	position: absolute;
	left:0px;
	top:0px;
	width:50%;
	height:100%;
}

.float_text_wrapper{
	position: absolute;
	left:0px;
	bottom:0px;
	width:50%;
	color:#fff;
}

.float_text_wrapper .spacing{
	padding: 50px;
}

.float_text_wrapper .description{
	margin-top: 30px;
}


.float_text_wrapper .title{
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0.05em;
}

.float_text_wrapper .btn_wrapper{
	margin-top: 30px;
}

.top_banner_section .dot_line{
	position: absolute;
	top:0px;
	bottom:0px;
	margin: auto;
	height:15px;
	width:50%;
}

.top_banner_section .dot_line1{
	left:0%;
}
.top_banner_section .dot_line2{
	left:50%;
}

.dot_line2 .dot_bg{
	background-color: #fff;
}

.top_banner_section .dot_bg_wrapper{
	position: absolute;
	left:50px;
	right:50px;
	top:0px;
	bottom:0px;
	margin: auto;
	background-position: center center;
}

.top_banner_section .dot_bg{
	position: absolute;
	background-position: center center;
	height:100%;
	width:100%;
}

.float_text_wrapper a{
	color:#fff
}

.top_banner_section .bg1{
	position: absolute;
	left:0px;
	top:0px;
	width:50%;
	height:100%;
	background-color: #25408f;
  	mix-blend-mode: multiply;
}

/* section */

.green_section{
	background-color: #00645c;
	color: #ffffff;
}

.blue_section{
	background-color: #25408f;
	color: #ffffff;
}
.grey_section{
	background-color: #e6e7e8;
    color: #25408f;
}

.full_section{
}

.full_section .section_inwrapper{
	padding: 70px 50px;
	margin: auto;
	max-width: 1400px;
}


.full_section .s_section_inwrapper{
	max-width: 840px;
}



.section_title{
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.05em;
}

.section_description{
	margin-top: 10px;
}

.section_description:first-child{
	margin-top: auto;
}

.section_title + .center_slider_wrapper{
	margin-top: 60px;
	position: relative;
	padding-left: 50px;
	padding-right: 50px;
	margin-left: -50px;
	margin-right: -50px;
}

/* center_slider_section */

.center_slider_section .section_inwrapper{
	padding: 70px 50px;
}

.center_slider_section{
	background-color: #e6e7e8;
	color:#25408f;
	text-align: center;
	position: relative;
}


.center_slider_wrapper .text_wrapper{
	max-width: 500px;
	margin: auto;
}

.center_slider_wrapper .text_wrapper .num{
	width:30px;
	line-height: 30px;
	text-align: center;
	height:30px;
	border:2px solid #25408f;
	margin: auto;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	font-weight: 900;
}

.center_slider_wrapper .text_wrapper .title{
	margin-top: 25px;
	text-transform: uppercase;
	font-weight: 100;
}
.center_slider_wrapper .text_wrapper .description{
	margin-top: 25px;
	position: relative;
}
.center_slider_wrapper .text_wrapper .title + .description{
	padding-top: 25px;
}
.center_slider_wrapper .text_wrapper .title + .description::before{
	content:"";
	position: absolute;
	display: block;
	left:0px;
	right:0px;
	width:75px;
	margin: auto;
	height:1px;
	background-color: #25408f;
	top:0px;
}

.center_slider_prev{
	position: absolute;
	left:50px;
	top:0px;
	bottom:0px;
	margin: auto;
	width:40px;
	height:32px;
	z-index: 9;
	cursor: pointer;
	display: block;
}

.center_slider_prev:hover{
	opacity:0.5;
}

.center_slider_prev::before{
	content:"";
	display: block;
	position: absolute;
	left:7px;
	top:0px;
	bottom:0px;
	margin: auto;
	width:30px;
	height:30px;
	border-top:1px solid #25408f;
	border-left:1px solid #25408f;
	-webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
	pointer-events: none;
}
.center_slider_prev::after{
	content:"";
	display: block;
	position: absolute;
	left:10px;
	top:0px;
	bottom:0px;
	margin: auto;
	height:1px;
	width:30px;
	background-color: #25408f;
	pointer-events: none;
}

.center_slider_next{
	position: absolute;
	right:50px;
	top:0px;
	bottom:0px;
	margin: auto;
	width:40px;
	height:32px;
	z-index: 9;
	cursor: pointer;
	display: block;
}

.center_slider_next:hover{
	opacity:0.5;
}

.center_slider_next::before{
	content:"";
	display: block;
	position: absolute;
	right:7px;
	top:0px;
	bottom:0px;
	margin: auto;
	width:30px;
	height:30px;
	border-top:1px solid #25408f;
	border-right:1px solid #25408f;
	-webkit-transform: rotate(45deg);
    transform: rotate(45deg);
	pointer-events: none;
}
.center_slider_next::after{
	content:"";
	display: block;
	position: absolute;
	right:10px;
	top:0px;
	bottom:0px;
	margin: auto;
	height:1px;
	width:30px;
	background-color: #25408f;
	pointer-events: none;
}

/* blue_section */


.circle_col_section .section_title + .col_wrapper{
	margin-top: 60px;
}

.circle_col_section .circle_thumb{
	padding-bottom: 100%;
	background-position: center center;
	background-size: cover;
	-webkit-border-radius: 3000px;
	-moz-border-radius: 3000px;
	border-radius: 3000px;
	overflow: hidden;
}

.circle_col_section .col_wrapper{
	overflow: hidden;
}

.circle_col_section .col .num{
	width:30px;
	line-height: 30px;
	height:30px;
	border:1px solid #fff;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	text-align: center;
}

.circle_col_section .col .text_wrapper{
	margin-top:30px;
	text-transform: uppercase;
}
.circle_col_section .col .text_wrapper .t2{
	font-weight: 700;
}

/* full_section */

.full_section{

}

/* logo_section */

.logo_section .col_wrapper{
	margin-top: 50px;
	overflow: hidden;
}
.logo_section .col_wrapper:first-child{
	margin-top: auto;
}


.logo_section .line_wrapper{
	height:8px;
}
.logo_section .line_wrapper .line{
	height:100%;
	background-size: 230px 8px;
	background-position: center center;
}

.logo_section .logo_wrapper .h_logo{
	background-position: center center;
	background-size: contain;
	padding-bottom: 40%;
	background-repeat: no-repeat;
	margin: auto;
	max-width: 260px;
	position: relative;
}

.h_logo img{
	position: absolute;
	top:0px;
	right:0px;
	bottom:0px;
	left:0px;
	margin: auto;
	width:100%;
}

.logo_section .text_wrapper{
	margin: auto;
	max-width: 260px;
	margin-top: 20px;
	text-align: center;
}
.logo_section .text_wrapper:first-child{
	margin-top: auto;
}

/* tab_section */

.tab_section{
	-webkit-transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
}

.tab_section .tab_btn .table_wrapper_wrapper{
	padding-bottom: 50%;
	position: relative;

}

.tab_section .col_wrapper{
	margin-top: 60px;
}
.tab_section .col_wrapper:first-child{
	margin-top: auto;
}

.tab_section .col{
	margin-top: 20px;
}
.tab_section .row{
	margin-top: -20px;
}

.tab_btn .table_wrapper{
	position: absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
}

.tab_btn .table_wrapper .table{
	width:100%;
	height:100%;
}
.tab_btn .table_wrapper .table .td{
	vertical-align: middle;
	text-align: center;
}

.tab_btn{
	color:#fff;
	position: relative;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.05em;
	cursor:pointer;
}

.tab_btn:hover > *{
	opacity:0.5
}

.tab_btn + .tab_btn::before{
	content:"";
	position: absolute;
	left:0px;
	top:0px;
	bottom:0px;
	margin: auto;
	height:90px;
	border-left:1px solid #fff;
}

.hidden_tab_menu{
	margin-left: 20px;
	display: inline-block;
	font-weight: 300;
}

.hidden_tab_menu li + li{
	padding-left: 15px;
	margin-left: 15px;
}

.hidden_tab_menu li{
	display: inline-block;
	position: relative;
	color:#fff;
	padding-left: 15px;
}

.hidden_tab_menu li::before{
	content:"・";
	position:absolute;
	left:-5px;
	width:10px;
	text-align: center;
}


.hidden_tab_menu a{
	color:#fff;
	font-weight: 300;
	opacity:0.5;
}

.hidden_tab_menu a.active, .hidden_tab_menu a:hover{
	opacity:1;
}

.hidden_tab_menu a.active{
	border-bottom:1px solid #fff;
}

.hidden_tab{
	display: none;
}

.hidden_tab .section_inwrapper{
	padding: 70px 50px;

}

.hidden_tab .title_wrapper{
	position: relative;
}

.hidden_tab .side_btn{
	position: absolute;
	right:50px;
	top:0px;
	color:#fff
}

.hidden_tab .title{
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.05em;
}

.hidden_tab h4{
	font-weight: 100;
}

/* form_section */

.form_section{
	background-color: #e6e7e8;
	color: #25408f;
}

.form_section a{
	color: #25408f;
}

.form_section a:hover{
	opacity:0.5;
}

.form_section .col_wrapper{
	margin-top: 50px;
}
.form_section .col_wrapper:first-child{
	margin-top: auto;
}

.form_item{
	margin-top: 30px;
}

.form_item:first-child{
	margin-top: auto;
}

.input_wrapper input[type="text"], .input_wrapper input[type="email"]{
	background: none;
	border:none;
	width:100%;
	box-sizing: border-box;
	padding: 10px;
	color:#25408f;
	background-color: #fff;
}

.submit_wrapper input[type="submit"]{
	background: none;
	border:none;
	border:1px solid #25408f;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding: 5px 10px;
	color:#25408f;
	line-height: 1em !important;
	cursor:pointer
}

.submit_wrapper input[type="submit"]:hover{
	border:1px solid #25408f;
	background-color: #25408f;
	color:#fff;
}



div.wpcf7-mail-sent-ok {
    border: 2px solid #25408f !important;
	background-color: #25408f !important;
	color:#fff !important;
}

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
    border: 2px solid #25408f !important;
	background-color: #25408f !important;
	color:#fff !important;
}

span.wpcf7-not-valid-tip {
    color: #25408f !important;
    font-size: 1em;
    font-weight: normal;
    display: block;
	margin-top: 5px;
}

div.wpcf7-response-output {
    margin: auto;
	margin-top: 20px;
    padding: 5px 10px;
}

/* left_banner_section */

.case_menu_btn{
	position: absolute;
	top:30%;
	right:50px;
	border:1px solid #25408f;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding: 5px 10px;
	color:#25408f;
	line-height: 1em !important;
	cursor:pointer;
	padding-right: 30px;
	font-weight: 100;
}

.case_menu_btn::after{
    content: "";
    position: absolute;
    right: 10px;
    width: 8px;
    height: 8px;
    border-bottom: 1px solid #25408f;
	border-right: 1px solid #25408f;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    bottom: 5px;
    margin: auto;
    display: block;
}

.left_banner_section{
	position: relative;
	overflow: hidden;
}

.left_banner_section .text_wrapper{
	margin-left: 50%;
	margin-right: 50px;
	margin-top: 25%;
	padding-left: 15px;
}

.left_banner_section .text_wrapper .title{
	text-transform: uppercase;
	font-weight: 700;
}

.left_banner_section .text_wrapper .description{
	font-weight: 100;
	margin-top: 30px;
	max-width: 500px;
}

.left_bg_photo{
	position: relative;
	padding-bottom:40%;
}

/* case_content_section */

.case_content_section .col_wrapper{
	overflow: hidden;
}

.case_content_section h5{
	text-transform: uppercase;
}

.case_content_section h5+p{
}

.case_content_section .col{
	margin-top: 50px;
}

.case_content_section .row{
	margin-top: -50px;
}

.case_content_section p + .thumb_wrapper{
	margin-top: 50px;
}

.case_content_section .bg_parallax{
	position: relative;
	padding-bottom: 60%;
}

.case_content_section .bg_parallax .bg{
	position: absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
}

.case_related_section{
	background-color: #e6e7e8;
}

.case_related_section .text_wrapper{
	margin-top: 20px;
}

/* quote */

.quote{
	font-style: italic;
}

.quote + .author{
	margin-top: 20px;
}

.center_slider_section2 .text_wrapper {
    max-width: 800px;
}

.center_slider_section2 .text_wrapper .description{
	position: relative;
}

.center_slider_section2 .text_wrapper .description::before{
	content:"‘";
	font-size: 200%;
	margin-right:10px;
}

.center_slider_section2 .text_wrapper .description::after{
	content:"‚";
	font-size: 200%;
	margin-left:10px;
}

/* footer_section */

.footer_section{
	position: relative;
	background-color: #e6e7e8;
	color: #25408f;
}

.footer_section::before{
	content:"";
	position: absolute;
	left:50px;
	right:50px;
	top:0px;
	margin: auto;
	border-top:1px solid #fff;
	display: block;
}

.footer_section .section_inwrapper{
	padding: 50px;
}

.footer_section .table{
	width:100%;
}

.footer_section .sns_wrapper li{
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}

.footer_section .sns_wrapper ul{
	margin-left: -5px;
	margin-right: -5px;
}

.sns_wrapper a{
	color: #25408f;
	border-bottom:1px solid #25408f;
	text-transform: uppercase;
}

/* media */

.top_title_section{
	background-color: #25408f;
	color:#fff;
	text-align: center;
	font-weight: 900;
	padding-bottom: 15%;
	text-transform: uppercase;
	position: relative;
}

.top_title_section .table_wrapper{
	position: absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
}

.top_title_section .table_wrapper .table{
	width:100%;
	height:100%;
}

.top_title_section .table_wrapper .table .td{
	text-align: center;
	vertical-align: middle;
}

.bg_50{
	padding-bottom: 50%;
	background-size: cover;
	background-position: center center;
}

.bg_75{
	padding-bottom: 75%;
	background-size: cover;
	background-position: center center;
}

.media_btn_wrapper{
	margin-top: 60px;
	text-align: center;
	margin-left: -30px;
	margin-right: -30px;
}

.media_btn{
	display: inline-block;
	padding: 10px 60px;
	background-color: #00645c;
    color: #ffffff;
	-webkit-border-radius: 120px;
	-moz-border-radius: 120px;
	border-radius: 120px;
	padding-left: 110px;
	background-image: url(images/media_icon.png);
	background-position: 25px center;
	background-repeat: no-repeat;
	background-size:  40px 40px;
}

.media_btn > *{
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

.media_btn .title{
	text-transform: uppercase;
	font-weight: 700;
	line-height: 1em;
}

.media_btn .description{
	line-height: 1em;
	margin-top: 2px;
}

.media_section{
	color:#666;
}

.media_section a{
	display: block;
	position: relative;
}

.media_section .text_wrapper{
	margin-top: 20px;
	text-align: center;
}


.media_section .text_wrapper:first-child{
	margin-top: auto;
}

.media_section .col{
	margin-top: 90px;
}

.media_section .row{
	margin-top: -90px;
}

.video-container { position: relative; padding-bottom: 75%; height: 0; overflow: hidden; }

.video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.video_btn .bg_wrapper{
	position: relative;
}

.video_btn .bg_wrapper::after{
	content:"";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px 0 20px 30px;
	border-color: transparent transparent transparent #fff;
	display: block;
	position: absolute;
	top:0px;
	right:0px;
	bottom:0px;
	left:0px;
	margin: auto;
}

.video_btn.active  .bg_wrapper .bg, .video_btn:hover  .bg_wrapper .bg{
	opacity:0.5;
}

.video_btn.active .bg_wrapper::after, .video_btn:hover .bg_wrapper::after{
	border-color: transparent transparent transparent #25408f;
}


.media_section a:hover .bg_wrapper .bg{
	opacity:0.5;
}

.col.center_video{
	float:none;
	margin-left:auto;
	margin-right:auto;
}


/* btn */



.border_btn{
	border:1px solid #fff;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding: 5px 10px;
	position: relative;
	line-height: 1em !important;
	display: inline-block;
}

.border_btn_r_arrow{
	padding-right: 20px;
}

.border_btn_r_arrow::after{
	content:"";
	position: absolute;
	right:10px;
	width:8px;
	height:8px;
	border-top:1px solid #fff;
	border-right:1px solid #fff;
	-webkit-transform: rotate(45deg);
    transform: rotate(45deg);
	top:0px;
	bottom:0px;
	margin: auto;
	display: block;
}

.border_btn_r_arrow_back{
	padding-right: 30px;
}

.border_btn_r_arrow_back::after{
	content:"";
	position: absolute;
	right:10px;
	width:8px;
	height:8px;
	border-top:1px solid #fff;
	border-left:1px solid #fff;
	-webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
	top:0px;
	bottom:0px;
	margin: auto;
	display: block;
}


/* text */


.row{
	margin-left:-15px;
	margin-right:-15px;
	}

.xl_col_wrapper .row{
	margin-left:-60px;
	margin-right:-60px;
	}

.big_col_wrapper .row{
	margin-left:-30px;
	margin-right:-30px;
	}

.normal_col_wrapper .row{
	margin-left:-15px;
	margin-right:-15px;
	}

.small_col_wrapper .row{
	margin-left:-10px;
	margin-right:-10px;
	}

.xs_col_wrapper .row{
	margin-left:-5px;
	margin-right:-5px;
	}

.col_spacing{
	margin-left:15px;
	margin-right:15px;
	}

.xl_col_wrapper .col_spacing{
	margin-left:60px;
	margin-right:60px;
	}

.big_col_wrapper .col_spacing{
	margin-left:30px;
	margin-right:30px;
	}

.normal_col_wrapper .col_spacing{
	margin-left:15px;
	margin-right:15px;
	}

.small_col_wrapper .col_spacing{
	margin-left:10px;
	margin-right:10px;
	}

.xs_col_wrapper .col_spacing{
	margin-left:5px;
	margin-right:5px;
	}


.column_text4{
  column-count: 4;
  column-gap: 60px;
  margin-top: 20px;
}

.column_text4:first-child{
  margin-top: auto;
}

.column_text2{
  column-count: 2;
  column-gap: 60px;
  margin-top: 40px;
}

.column_text2 li, .column_text4 li{
    -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
}
.column_text2 p, .column_text4 p{
    -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
}
.column_text2:first-child{
  margin-top: auto;
}

.xl_col_wrapper .column_text4, .xl_col_wrapper .column_text2{
  column-gap: 45px;
}

.thumb{
	width:100%;
}

.col{
	float:left;
	padding-left:0px;
	padding-right:0px;
	}

.first_col{
	clear:left;
	}

.col12{
	width:100%;
	}

.col10{
	width:83.33%;
	}

.col9{
	width:75%;
	}

.col8{
	width:66.66%;
	}

.col7{
	width:58.33%;
	}

.col6{
	width:50%;
	}

.col5{
	width:41.66%;
	}

.col4_5{
	width:37.5%;
	}

.col4{
	width:33.33%;
	}

.col3{
	width:25%;
	}

.col2_4{
	width:20%;
	}

.col2{
	width:16.66%;
	}

.col1_5{
	width:12.5%;
	}


input, textarea, select, option{
	color: #000;
	font-family: "Gotham", "Noto Sans TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
	font-size:17px;
	line-height:1.4em;
    font-weight: normal;
	}

body{
	color: #000;
	font-family: "Gotham", "Noto Sans TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
	font-size:17px;
	line-height:1.5em;
    font-weight: normal;
	}

h1, h2, h3, h4, h5, h6{
	margin-top: 40px;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child{
	margin-top: auto;
}

.text0{
	font-size:45px;
	line-height:1.2em;
	}

.text1, h1{
	font-size:35px;
	line-height:1.2em;
	}

.text2, h2{
	font-size:30px;
	line-height:1.2em;
	}

.text3, h3{
	font-size:26px;
	line-height:1.4em;
	}

.text4, h4{
	font-size:22px;
	line-height:1.4em;
	}

.text5, h5{
	font-size:20px;
	line-height:1.5em;
	}

.text6, h6{
	font-size:16px;
	line-height:1.5em;
	}

.text7{
	font-size:14px;
	line-height:1.5em;
	}

.text8{
	font-size:12px;
	line-height:1.5em;
	}

.float_left{
    float: left;
}

.float_right{
	float:right;
	}

.align_right{
    text-align: right;
}

.align_center{
	text-align:center;
	}

.blue_text{
	color: #25408F;
}

.bold{
	font-weight: 700;
}

.allcap{
	text-transform: uppercase;
}

/* mobile */
.mobile_show{
	display:none;
	}


@media screen and (max-width: 1599px) {


}


@media screen and (max-width: 1439px) {


}


@media screen and (max-width: 1279px) {

}

@media screen and (max-width: 1023px) {

.section{
	overflow: hidden;
}

.top_logo {
    height: 15px;
    top: 20px;
	left:15px;
}

.top_logo img {
    height: 30px;
}

.menu_btn {
    top: 12px;
	right:15px;
}

.email_btn{
    right: 55px;
    top: 12px;
}


.header .bg{
	background-color: #25408f;
	height:50px;
	-webkit-box-shadow: 0px -18px 22px 25px rgba(0,0,0,0.31);
	-moz-box-shadow: 0px -18px 22px 25px rgba(0,0,0,0.31);
	box-shadow: 0px -18px 22px 25px rgba(0,0,0,0.31);
}

.header_bg{
	height:50px;
}

/* layout */

.full_section .section_inwrapper {
    padding: 50px 20px;
}

.footer_section .section_inwrapper {
    padding: 50px 20px;
}

.footer_section::before {
    left: 20px;
    right: 20px;
}

/* home */

.section_description.col4{
	width:auto;
}

.float_text_wrapper .spacing {
    padding: 20px;
	padding-bottom: 30px;
}

.center_slider_prev{
	left: 10px;
}
.center_slider_next{
	right: 10px;
}

.tab_section .tab_btn .table_wrapper_wrapper{
	min-height: 120px;
}

.center_slider_prev, .center_slider_next{
	width:32px;
}

.center_slider_prev::before {
    width: 15px;
    height: 15px;
}
.center_slider_prev::after {
    width: 15px;
}
.center_slider_next::before {
    width: 15px;
    height: 15px;
}

.center_slider_next::after {
    width: 15px;
}

.float_text_wrapper .btn_wrapper {
    margin-top: 20px;
}


.col_wrapper .col3 {
    width: 50%;
}
.m_col{
	clear: left;
}

/* font */

body{
	font-size:14px;
	line-height:1.5em;
}

.text0{
	font-size:25px;
	line-height:1.2em;
	}

.text1, h1{
	font-size:22px;
	line-height:1.2em;
	}

.text2, h2{
	font-size:20px;
	line-height:1.2em;
	}

.text3, h3{
	font-size:18px;
	line-height:1.4em;
	}

.text4, h4{
	font-size:16px;
	line-height:1.4em;
	}

.text5, h5{
	font-size:15px;
	line-height:1.5em;
	}

.text6, h6{
	font-size:14px;
	line-height:1.5em;
	}

.text7{
	font-size:13px;
	line-height:1.5em;
	}

.text8{
	font-size:12px;
	line-height:1.5em;
	}

h1, h2, h3, h4, h5, h6 {
    margin-top: 20px;
}

/* mobile */
.mobile_hide{
	display:none;
	}

.mobile_show{
	display:block;
	}

}

@media screen and (max-width: 800px) {
.col_wrapper .col6 {
    width: 100%;
}


.circle_col_section .col{
	margin-top: 40px;
}
.circle_col_section .row{
	margin-top: -40px;
}

}

@media screen and (max-width: 640px) {


.dropdown_menu{
	padding: 20px;
}

.dropdown_menu ul{
	display: block;
	padding-top: 50px;
	padding-bottom: 30px;
}

.dropdown_menu ul ul {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #fff;
}

.float_text_wrapper .description {
	font-size: 12px;
	line-height:1.5em;
}

.float_text_wrapper .description {
    margin-top: 20px;
}

.section_title + .center_slider_wrapper {
    margin-top: 30px;
}

.circle_col_section .section_title + .col_wrapper {
    margin-top: 30px;
}

.logo_section .col_wrapper {
    margin-top: 50px;
    overflow: hidden;
}

.form_section .col_wrapper {
    margin-top: 30px;
}

.logo_section .text_wrapper {
    margin-top: 30px;
}

.logo_section .logo_wrapper{

	width:50%;
	margin-left: auto;
	margin-right: auto;
}

.logo_section .logo_wrapper .h_logo {
    padding-bottom: 0%;
}

.logo_section .logo_wrapper .h_logo img{
	position: relative;
	top:auto;
	right:auto;
	bottom:auto;
	left:auto;
}

.logo_section .col_wrapper .col + .col{
	margin-top: 60px;
}


.top_banner_section .dot_bg_wrapper {
    left: 20px;
    right: 20px;
}

.top_banner_section .dot_line1 {
    left: 50%;
}
.top_banner_section .dot_line2{
	display: none;
}

.form_item {
    margin-top: 20px;
}

.col_wrapper .col3{
	width:100%;
}

.circle_col_section .col .num{
	margin: auto;
}

.circle_col_section .col{
	text-align: center;
}

.circle_col_section .col .thumb_wrapper{
	width:50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.circle_col_section .col .text_wrapper {
    margin-top: 20px;
}

.col_wrapper .col6{
	width:100%;
}

.col_wrapper .col+.col{
	margin-top: 40px;
}

.form_item .col_wrapper .col+.col{
	margin-top: 20px;
}

.case_related_section .col4{
	width:100%;
}

.hidden_tab .section_inwrapper {
    padding: 50px 20px;
}

.hidden_tab .side_btn {
    right: 0px;
}

.tab_section .col_wrapper {
    margin-top: 30px;
}

.hidden_tab_menu {
    margin-left: auto;
    display: block;
	margin-top: 20px;
}



.hidden_tab_menu{
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: -5px;
}

.hidden_tab_menu li{
	margin: 5px 10px;
}

.hidden_tab_menu li + li {
	margin: 5px 10px;
}

p{
	text-align: justify;
}

.text0{
	font-size:20px;
	line-height:1.2em;
	}

.text1, h1{
	font-size:18px;
	line-height:1.2em;
	}

.text2, h2{
	font-size:17px;
	line-height:1.2em;
	}

.text3, h3{
	font-size:16px;
	line-height:1.4em;
	}

.text4, h4{
	font-size:15px;
	line-height:1.4em;
	}

.text5, h5{
	font-size:14px;
	line-height:1.5em;
	}

.text6, h6{
	font-size:14px;
	line-height:1.5em;
	}

.text7{
	font-size:12px;
	line-height:1.5em;
	}

.text8{
	font-size:11px;
	line-height:1.5em;
	}


.top_title_section{
	padding-bottom: 20%;
	text-transform: uppercase;
}


.media_btn{
	padding: 15px 30px;
	padding-left: 85px;
}

}


@media screen and (max-width: 480px) {


/* mobile */

.mobile_hide2{
	display:none;
	}

.mobile_show2{
	display:block;
	}

.blue_section .tab_btn .table_wrapper .table .td{
	font-size: 14px;
}

}
